
.hero_2 {
  margin-top: 270px;
}
.container_2 {
  display: flex;
}
.hero-content {
  display: flex;
  flex-direction: column;
}  

.hero-content__button.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  margin-top: 39px;
}