body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
}

header {
  width: 100%;
}

.selected {
  color: #202336 !important;
}

.top_nav {

  position: relative;
  width: 663px;
  height: 60px;
  margin-top: 15px;
  margin-right: 190px;
  float: right;
}


.ul_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.ul_nav li {
  float: left;
}

.ul_nav li a{
  text-decoration: none;
  color: #B8BECD;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-top: 21px;
}

.btn {  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 132px;
  height: 44px;
}

.ul_nav li .login_btn {
  color: #FB8F1D;
  border: 1px solid #FB8F1D;
  font-weight: 500;
}

.ul_nav li .register_btn {
  background: #FB8F1D;
  color: #FFFFFF;
}

.logo {
  position: absolute;
  display: block;
  top: 45px;
  left: 191px;
}
.hero {
  padding-top: 5rem;
}
.container {
  position: relative;
}
.hero-content {
  display: flex;
  align-items: center;
}
.hero-title {
  width: 356px;
  position: absolute;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
  left: 189px;
  top: 200px;
}